.preloader
  .overlay
  p.preloader__text Hermann


  .preloader__number
    .preloader__number__text 0%

  .preloader__animation
    .frame.frame1
      img.img1(src="./images/Hermann10.webp" alt="Loading...")
      img.img2(src="./images/Hermann4.webp" alt="Loading...")

    .frame.frame2
      img.img1(src="./images/Hermann5.webp" alt="Loading...")
      img.img2(src="./images/Hermann9.webp" alt="Loading...")

    .frame.frame3
      img.img1(src="./images/Hermann11.webp" alt="Loading...")
      img.img2(src="./images/Hermann9.webp" alt="Loading...")


    .frame.frame4
      img.img1(src="./images/Hermann11.webp" alt="Loading...")
      img.img2(src="./images/Hermann9.webp" alt="Loading...")
      img.img3(src="./images/Hermann6.webp" alt="Loading...")

    .frame.frame5
      img.img1(src="./images/Hermann6.webp" alt="Loading...")
      img.img2(src="./images/Hermann12.webp" alt="Loading...")


    .frame.frame6
      img.img1(src="./images/Hermann6.webp" alt="Loading...")
      img.img2(src="./images/Hermann12.webp" alt="Loading...")
      img.img3(src="./images/Hermann2.webp" alt="Loading...")

    .frame.frame7
      img.img1(src="./images/Hermann6.webp" alt="Loading...")
      img.img2(src="./images/Hermann12.webp" alt="Loading...")
      img.img3(src="./images/Hermann2.webp" alt="Loading...")
      img.img4(src="./images/Hermann10.webp" alt="Loading...")


    .frame.frame8
      img.img1(src="./images/Hermann7.webp" alt="Loading...")
      img.img2(src="./images/Hermann12.webp" alt="Loading...")
      img.img3(src="./images/Hermann11.webp" alt="Loading...")

    .frame.frame9
      img.img1(src="./images/Hermann7.webp" alt="Loading...")
      img.img2(src="./images/Hermann3.webp" alt="Loading...")

    .frame.frame10
      img.img2(src="./images/Hermann3.webp" alt="Loading...")
      img.img1(src="./images/Hermann1.webp" alt="Loading...")

    .frame.frame11
      img.img2(src="./images/Hermann3.webp" alt="Loading...")
      img.img1(src="./images/Hermann8.webp" alt="Loading...")


    .frame.frame12
      img.img2(src="./images/Hermann3.webp" alt="Loading...")
      img.img1(src="./images/Hermann8.webp" alt="Loading...")
      img.img3(src="./images/Hermann13.webp" alt="Loading...")
      img.img4(src="./images/Hermann11.webp" alt="Loading...")

      //- img.img2(src="./images/Hermann3.webp" alt="Loading...")

