block variables

doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    base(href="/")



    title Hermann
    link(href="main.css" rel="stylesheet")

  body
    //- include ./partials/preloader
    include ./partials/navigation
    .cursor-dot
    .cursor-outline
    .revealer
      ul
        li.revealer__text Hermann
    .page-transition
      .page-transition__layer
      .page-transition__layer
      .page-transition__layer
      .page-transition__text


    .content#content(data-template=template)
      block content

    script.
      window.ASSETS = !{JSON.stringify(assets).replace(/<\//g, "<\\/")}

    script(src="main.js")



