block variables

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    
    //- Primary Meta Tags
    title Hermann | Digital Artist & Illustrator
    meta(name="title" content="Hermann | Digital Artist & Illustrator")
    meta(name="description" content="Digital artist exploring the intersection of imagination and technique, specializing in digital illustration, character design, and concept art.")
    
    //- Favicon Tags
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/site.webmanifest")
    
    //- Open Graph / Facebook
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://hermann-art.com")
    meta(property="og:title" content="Hermann | Digital Artist & Illustrator")
    meta(property="og:description" content="Digital artist exploring the intersection of imagination and technique, specializing in digital illustration, character design, and concept art.")
    meta(property="og:image" content="https://hermann-art.com/images/hermannImage.jpg")

    //- Twitter
    meta(property="twitter:card" content="summary_large_image")
    meta(property="twitter:url" content="https://hermann-art.com")
    meta(property="twitter:title" content="Hermann | Digital Artist & Illustrator")
    meta(property="twitter:description" content="Digital artist exploring the intersection of imagination and technique, specializing in digital illustration, character design, and concept art.")
    meta(property="twitter:image" content="https://hermann-art.com/images/hermannImage.jpg")
    
    
    base(href="/")
    link(href="main.css" rel="stylesheet")

  body
    include ./partials/preloader
    include ./partials/navigation
    .cursor-dot
    .cursor-outline
    .revealer
      ul
        li.revealer__text Hermann
    .page-transition
      .page-transition__layer
      .page-transition__layer
      .page-transition__layer
      .page-transition__text


    .content#content(data-template=template)
      block content

    script.
      window.ASSETS = !{JSON.stringify(assets).replace(/<\//g, "<\\/")}

    script(src="main.js")