.home {
  @extend %page;

  padding-top: 7rem;
  font-family: $font-blowbrush;
  font-size: 3rem;

  background-color: #f5f5f5;
  color: #444444;
}
.galleries {
  font-family: "blowbrush";
  color: hsl(78 100% 15% / 1);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 4rem;
  z-index: 2;
  font-size: 6rem;
  @include media("<phone") {
    top: 17rem;
  }
}
.box {
  width: 100vw;
  height: 100vh;
  background-color: purple;
}
.banner {
  position: absolute;
  z-index: 1;
  margin-top: 10vh;
  width: 100%;
  // overflow: hidden;
  display: grid;
  justify-items: center;
  height: 100vh;
  @include media("<phone") {
    margin-top: 18vh;
  }
}

.banner .slider {
  top: 0;
  width: 20vw;
  max-width: 170px;
  aspect-ratio: 3 / 4;
  transform-style: preserve-3d;
  transform: perspective(1000px); /* Ensure it's horizontally centered */
  animation: autoRun 42s linear infinite;
}

@keyframes autoRun {
  from {
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }

  @include media("<phone") {
    from {
      // transform: perspective(1000px) rotateX(-36deg) rotateY(0deg);
    }
    to {
      // transform: perspective(1000px) rotateX(-26deg) rotateY(360deg);
    }
  }
}

.banner .slider .gallery__image {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(calc(var(--position) * (360 / var(--quantity)) * -1deg))
    translateZ(min(38vw, 480px));
  transform-style: preserve-3d;

  // scale: 0.7;

  // &:hover {
  //   scale: 1;
  // }
}

// .slider:nth-child(1) {
//   animation: autoRun 42s linear infinite;
// }

.gallery__image img {
  filter: grayscale(100%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: grayscaleEffect 42s infinite;
  z-index: 1;
}

.in-view img {
  filter: grayscale(0%);
}

/* Keyframes to control the grayscale removal based on time */
@keyframes grayscaleEffect {
  20% {
    filter: grayscale(0%);
    // transform: translateY(-70px) rotateX(15deg);
    // transform: translateZ(0px); /* Remove grayscale for the first 2 seconds */
  }
  70% {
    filter: grayscale(100%);
    // transform: translateY(0px) rotateX(0deg);
  }
  100% {
    filter: grayscale(100%);
  }
}

@keyframes opacityEffect {
  4% {
    opacity: 0;
    // transform: translateY(-70px) rotateX(15deg);
    // transform: translateZ(0px); /* Remove grayscale for the first 2 seconds */
  }
  12% {
    opacity: 1;
    // transform: translateY(-70px) rotateX(15deg);
    // transform: translateZ(0px); /* Remove grayscale for the first 2 seconds */
  }
  22% {
    opacity: 0;
    // transform: translateY(0px) rotateX(0deg);
  }
  100% {
    opacity: 0;
  }
}

/* For each item, delay the animation by 3s incrementally */
.banner .slider .gallery__image:nth-child(1) img,
.gallery__details .gallery__details__item:nth-child(1) {
  animation-delay: 0s; /* Start immediately */
}

.banner .slider .gallery__image:nth-child(2) img,
.gallery__details .gallery__details__item:nth-child(2) {
  animation-delay: 6s; /* Delay by 3 seconds */
}

.banner .slider .gallery__image:nth-child(3) img,
.gallery__details .gallery__details__item:nth-child(3) {
  animation-delay: 12s; /* Delay by 6 seconds */
}

.banner .slider .gallery__image:nth-child(4) img,
.gallery__details .gallery__details__item:nth-child(4) {
  animation-delay: 18s; /* Delay by 9 seconds */
}

.banner .slider .gallery__image:nth-child(5) img,
.gallery__details .gallery__details__item:nth-child(5) {
  animation-delay: 24s; /* Delay by 12 seconds */
}

.banner .slider .gallery__image:nth-child(6) img,
.gallery__details .gallery__details__item:nth-child(6) {
  animation-delay: 30s; /* Delay by 15 seconds */
}
.banner .slider .gallery__image:nth-child(7) img,
.gallery__details .gallery__details__item:nth-child(7) {
  animation-delay: 36s; /* Delay by 15 seconds */
}

.gallery__details {
  @extend %cover;
}
.gallery__details__item {
  opacity: 0;
  position: absolute;
  top: 70vh;
  left: 8rem;
  transition: opacity 1.5s ease-in;
  animation: opacityEffect 42s infinite;
  @include media("<phone") {
    top: 60vh;
  }
}

.gallery__details__title {
  color: hsl(78 100% 15% / 1);

  @extend %title-60;
}
.gallery__details__paragraph {
  font-family: $font-montserrat;
  margin-top: 2rem;
  @extend %description-16;

  max-width: 44rem;
}



   .revealer{

  width: max(200vw, 200vh);
  height: max(200vw, 200vh);
    position: absolute;
  z-index: 10;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, max(200vw,200vh)) rotate(16deg);
  will-change: transform;

  ul {
      list-style: disc;
      /* Ensure the list uses dots */
      padding-left: 20px;
      /* Adjust spacing if needed */
    }
   }

   
   .revealer__text{
        // font-family: $font-blowbrush;
    
        will-change: opacity;color: hsl(90, 100%, 50%);
          font-size: 7.5rem;

   }

    